{% extends 'index.html' %} {% block title %} User Page {% endblock %}{% block
content %}
<div id="image-container">
  <img id="profile-pic" src="{{user.image_url}}" alt="{{user.first_name}}" />
</div>
<h2 id="user-name">{{user.full_name()}}</h2>
<div id="add-delete-container">
  <form>
    <button class="button" formaction="/users/{{user.id}}/edit">Edit</button>
    <button
      class="button"
      formaction="/users/{{user.id}}/delete"
      formmethod="POST"
    >
      Delete
    </button>
  </form>
</div>
{% if posts %}
<h3>Posts</h3>
<ul>
  {% for post in posts %}
  <li>
    <a href="/show_post/{{post.id}}">{{post.title}}</a>
  </li>

  {% endfor %}
</ul>
{% endif %}
<form>
  <button class="button" formaction="/users/{{user.id}}/new_post">
    Add Post
  </button>
</form>

{% endblock %}
